/* @author: John Lusky
   Date: 1/16/16
 */

/// Imports
@import "_normalize";
@import "_boilerplate";
@import "_mixins";
@import "_typography";
@import "_slick";
@import "_slick-theme";
@import "_lity";

/// Colors
$white: #ffffff;
$black: #000000;
$green: #08e35a;
$blue: #09c9f2;
$tan: #ecc49a;
$light-gray: #E4E4E4;
$dark-gray: #323232;
$darkest-gray: #171717;
$darkest-gray: #151515;

/// Global Vars
$width: 1280px;

/// Global Styles
body {
    -webkit-font-smoothing: antialiased;
    background: $white;
    overflow-x: hidden;
    width: 100%;
    font-family: $font-roboto;
    color: $white;
}

* {
    box-sizing: border-box;
    outline: none;
}

h1, h2 {
    margin: 0;
    font-family: $font-exo;
    font-weight: 900;
    color: $white;
    text-transform: uppercase;
}

h2 {
    font-size: 48px;

    .large {
        display: block;
        font-size: 68px;
    }

    .medium {
        display: block;
        font-size: 63px;
    }

    .small {
        display: block;
        font-size: 32px;
    }

    @media all and (max-width: 768px) {

        .large, .medium {
            font-size: 30px;
            line-height: 35px;
        }

        .small {
            font-size: 18px;
            line-height: 35px;
        }

    }

}

h3 {
    margin: 30px 0 0;
    font-family: $font-exo;
    font-size: 48px;
    font-weight: 900;
    color: $white;
    text-transform: uppercase;

    @media all and (max-width: 768px) {
        font-size: 30px;
    }
}

p {
    margin: 10px 0;
    font-size: 18px;
    line-height: 27px;

    &.smaller {
        font-size: 12px;
    }

    @media all and (max-width: 768px) {
        font-size: 16px;
        line-height: 25px;
    }
}

a {
    color: $blue;
    text-decoration: none;

    &:focus {
        outline: none;
    }
}

ul {
    background-color: transparent;
}

.wrap {
    max-width: 900px;
    margin: 0 auto;

    &.flex-elements {
        display: flex;
        flex-flow: row;
        flex-wrap: wrap;
    }
}

.content {
    padding: 30px 20px 60px;

    img {
        width: 100%;
        height: auto;

        &.single {
            position: relative;
            top: 50%;
            transform: translateY(-50%);
        }
    }

    &.left {
        width: 55%;
    }

    &.right {
        width: 45%;
    }

    @media all and (max-width: 768px) {
        padding: 15px 20px;

        &.left {
            width: 100%;
        }

        &.right {
            width: 100%;
        }
    }
}



.fade-off {
    opacity: 0!important;
}

.fade-on {
    opacity: 1!important;
}

/// Navigation

#main-navigation {
    position: fixed;
    width: 100%;
    z-index: 1000;
    transition: all .5s ease-out;

    ul {
        margin: 25px auto;
        text-align: center;
    }

    li {
        position: relative;
        top: -6px;
        display: inline-block;
        margin: 0 15px;

        a {
            font-family: $font-exo;
            font-weight: 900;
            font-size: 18px;
            color: $white;
            text-transform: uppercase;
            text-shadow: 1px 1px 3px rgba(23, 23, 23, 0.89);

            &:hover {
                color: $blue;
            }
        }

        &:first-child {
            margin: 0;
        }
    }

    &.below-hero {
        background-color: $darkest-gray;
    }

    .desktop-nav {
        display: block;

        @media all and (max-width: 940px) {
            display: none;
        }
    }

    .mobile-nav {
        display: none;
        min-height: 50px;
        margin: 0;
        background-color: $darkest-gray;

        ul {
            display: none;
            margin: 10px 0 0;
            padding: 10px 0 20px 0;
            text-align: center;
        }

        li {
            position: relative;
            top: 0;
            display: block;
            width: 100%;
            margin: 0;
            padding: 12px 20px;
            background-color: $darkest-gray;

            a {

            }

            &:first-child {
                display: none;
            }

        }

        .horizontal-logo {
            top: 9px;
            width: 200px;
            margin-left: 15px;
        }

        #hamburger {
            position: absolute;
            top: 7px;
            right: 15px;
            font-size: 32px;
            color: $white;

            &.icon-cross {
                top: 9px;
            }

            &:hover {
                color: $blue;
            }
        }

        @media all and (max-width: 940px) {
            display: block;
        }
    }
}

.horizontal-logo {
    position: relative;
    top: 7px;
    display: inline-block;
    width: 0px;
    height: 30px;
    margin: 0;
    background: url(../images/logo-horizontal.png) no-repeat;
    background-size: 100%;
    transition: all .5s ease-out;

    &.reveal-logo {
        width: 200px;
        margin: 0 15px 0 0;
    }
}



/// Hero

#hero {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: $black;
    z-index: 50;

    h2 {
        position: relative;
        top: 50%;
        line-height: 70px;
        text-align: center;
        text-shadow: 1px 1px 3px rgba(23, 23, 23, 0.89);
        transform: translateY(-50%);
        transition: opacity 1s ease-out;
        z-index: 20;

        .large {
            opacity: 0;
            transform: rotateZ(-12deg);
            transform-origin: left;
            animation-name: LargeIn;
            animation-duration: 1.5s;
            animation-play-state: running;
            animation-timing-function: ease-out;
            animation-iteration-count: 1;
            animation-fill-mode: forwards;
        }

        .medium {
            opacity: 0;
            transform: rotateZ(12deg);
            transform-origin: right;
            animation-name: MediumIn;
            animation-delay: .5s;
            animation-duration: 1.5s;
            animation-play-state: running;
            animation-timing-function: ease-out;
            animation-iteration-count: 1;
            animation-fill-mode: forwards;
        }

        .small {
            opacity: 0;
            transform: translateY(50px);
            animation-name: SmallIn;
            animation-delay: 1s;
            animation-duration: 1s;
            animation-play-state: running;
            animation-timing-function: ease-out;
            animation-iteration-count: 1;
            animation-fill-mode: forwards;
        }
    }
}

@keyframes LargeIn {

    0% {
        opacity: 0;
        transform: rotateZ(-12deg);
    }

    100% {
        opacity: 1;
        transform: rotateZ(0deg);
    }

}

@keyframes MediumIn {

    0% {
        opacity: 0;
        transform: rotateZ(12deg);
    }

    100% {
        opacity: 1;
        transform: rotateZ(0deg);
    }

}

@keyframes SmallIn {

    0% {
        opacity: 0;
        transform: translateY(50px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }

}

#hero-lights-out {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: -moz-linear-gradient(top, rgba(0,0,0,.4) 0%, rgba(0,0,0,.6) 52%, rgba(0,0,0,0.8) 100%);
    background: -webkit-linear-gradient(top, rgba(0,0,0,.4) 0%,rgba(0,0,0,0.6) 52%,rgba(0,0,0,0.8) 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,.4) 0%,rgba(0,0,0,0.6) 52%,rgba(0,0,0,0.8) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#bd000000',GradientType=0 );
    z-index: 10;
}

.logo-w-shadow {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 320px;
    height: 135px;
    margin-left: -160px;
    background: url(../images/logo-horizontal.png) no-repeat;
    background-size: 100%;
    z-index: 15;
    transition: opacity 1s ease-out;
    transition-delay: .3s;
}

/// About

#about-the-device {
    width: 100%;
    min-height: 400px;
    padding: 60px 20px 80px;
    background-color: $blue;

    h3 {
        font-size: 40px;
    }

    .content {

        &.left {
            width: 45%;
        }

        &.right {
            width: 55%;
        }

    }

    @media all and (max-width: 768px) {
        padding: 10px 0 40px;

        h3 {
            font-size: 30px;
        }

        .content {
            padding: 15px 20px;

            &.left {
                width: 100%;
            }

            &.right {
                width: 100%;
                padding: 0;
            }
        }

    }
}

#console-illustration {
    position: relative;
    width: 455px;
    height: 296px;
    background: url(../images/console-stopped.png) no-repeat;
    background-size: 100%;

    .try-it {
        position: absolute;
        top: 170px;
        right: 48px;
        width: 80px;
        height: 80px;
        padding-top: 25px;
        border-radius: 80px;
        box-shadow: 3px 8px 6px #151515;
        background-color: $green;
        font-size: 20px;
        font-family: $font-exo;
        color: $white;
        text-align: center;
        z-index: 99;
        animation-name: tryfloat;
        animation-play-state: running;
        animation-duration: 1.5s;
        animation-fill-mode: both;
        animation-direction: alternate;
        animation-timing-function: ease-in-out;
        animation-iteration-count: infinite;
    }

    #start-button {
        position: absolute;
        top: 57px;
        right: 131px;
        width: 60px;
        height: 100px;
        z-index: 100;
    }

    #console-started {
        position: absolute;
        top: 0;
        left: 0;
        width: 455px;
        height: 296px;
        background: url(../images/console-started.png) no-repeat;
        background-size: 100%;
        opacity: 0;
        z-index: 10;
    }

    &.active {

        #console-started {
            opacity: 1;
        }

    }

    @media all and (max-width: 940px) {
        width: 320px;
        height: 208px;
        margin: 140px auto 0;

        #start-button {
            position: absolute;
            top: 40px;
            right: 91px;
            width: 45px;
            height: 69px;
        }

        #console-started {
            width: 320px;
            height: 208px;
        }
    }

    @media all and (max-width: 768px) {
        margin: 0 auto;

        .try-it {
            right: 28px;
            width: 70px;
            height: 70px;
            padding-top: 22px;
            border-radius: 70px;
            animation-name: tryfloatmobile;
        }
    }
}

@keyframes tryfloat {
    0% {
        top: 170px;
    }

    100% {
        top: 190px;
    }
}

@keyframes tryfloatmobile {
    0% {
        top: 100px;
    }

    100% {
        top: 115px;
    }
}


.treadmill-animation {
    position: relative;
    box-sizing: border-box;
    height: 260px;
    background: $white;
    border: 20px solid $dark-gray;
    border-radius: 10px;

    .treadmill-not-tilting {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        height: 220px;
    }

    .treadmill-tilting {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        height: 220px;
    }

    @media all and (max-width: 940px) {
        width: 320px;
        height: 193px;
        margin: 0 auto;

        .treadmill-not-tilting {
            height: 154px;
        }

        .treadmill-tilting {
            height: 154px;
        }
    }
}

/// Gallery

#gallery {
    position: relative;
    left: -25%;
    width: 150%;
    padding: 90px 50px 100px;
    background-color: $dark-gray;
    transform: rotateZ(-4deg);
    transition: all .5s ease-out;

    h3 {
        margin: 0 0 20px;
        text-align: center;
    }

    @media all and (max-width: 970px) {
        left: 0;
        width: 100%;
        transform: rotateZ(0deg);
    }
}

.media-slider {

    div {

        img {
            width: 100%;
        }

    }

}

/// FAQs

#faqs {
    padding: 90px 20px 100px;
    background-color: $tan;
    color: $darkest-gray;

    .wrap {
        max-width: 700px;
    }

    h3 {
        margin: 0 0 20px;
        color: $dark-gray;
        text-align: center;
    }

    @media all and (max-width: 768px) {
        padding: 30px 30px;
    }

}

.accordion-toggle {
    cursor: pointer;
}

.accordion-content {
    display: none;
}

.accordion-content.default {
    display: block;
}

/// Testimonials

#testimonials {
    padding: 90px 20px 100px;
    background-color: $green;

    h3 {
        margin: 0 0 20px;
        text-align: center;
    }

    .content {
        width: 33.3333%;
    }


    @media all and (max-width: 768px) {
        padding: 30px 0px;

        h3 {
            margin-bottom: 0;
        }

        .content {
            width: 100%;
        }

    }
}

/// Footer

#footer {
    padding: 40px 20px 100px;
    background-color: $dark-gray;

    h3 {
        margin-top: 0;
    }

    .logo-footer {
        width: 100%;
        max-width: 320px;
    }

    input, textarea {
        display: block;
        width: 100%;
        margin: 15px 0;
        padding: 0 20px;
        background-color: $darkest-gray;
        border: 0 solid;
        border-top: 3px solid $white;
        font-family: $font-roboto;
        font-size: 18px;
        line-height: 53px;
        color: $white;
        transition: all .7s ease-out;

        &:focus {
            border-color: $green;
        }
    }

    input {

        &:focus {
            transform: rotateZ(-2deg);
        }

    }

    #submit_btn {
        margin-top: 20px;
        padding: 10px 40px;
        background-color: $blue;
        border: 0 solid;
        font-family: $font-exo;
        color: $white;
        font-size: 22px;

        &:hover {
            color: $darkest-gray;
        }
    }
}
